 @import "https://fonts.googleapis.com/css?family=Raleway:400,700,900&display=swap";
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
 
 * {
   margin: 0;
 }

 html {
   scroll-behavior: smooth;
   height: 100%;
 }

 body {
   min-height: 100%;
   position: relative;
   padding-bottom: 120px;
   font-family: 'Raleway', sans-serif;
 }

 body.modal-open {
   padding-right: 0 !important;
   position: relative;
 }

 .bg-image-full {
   background: no-repeat center;
   height: 50vh;
   background-attachment: fixed;
   background-size: cover;
 }

 /*NAVBAR*/

 .smart-scroll {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 1030;
 }
 a.navbar-brand{
  font-weight: 600;
 }
 #navbar-products {
   background-color: rgb(57, 55, 58);
 }

 .navbar {
   transition: 500ms ease;
 }

 .navbar a {
   color: #fff!important;
   text-transform: uppercase;
   font-family: 'Poppins', sans-serif;
 }

 /* .active a {
   font-weight: 500;
   border-bottom: solid #fff 1px;
 } */

 .nav-item {
   padding-right: 5px;
 }

 .nav-active {
   background-color: #fff;
   box-shadow: 5px -1px 12px -5px grey;
 }

 .nav-item a {
   text-decoration: none;
   position: relative;
   color: inherit;
   padding-right: 5px;
 }

 .nav-item a::after {
   position: absolute;
   content: "";
   height: .1em;
   top: 100.1%;
   background: currentColor;
   z-index: -1;
   left: 0;
   right: 0;
   transform: scaleX(0);
   transition: transform .5s cubic-bezier(.95, .05, .795, .035);
 }

 .nav-item a:hover::after {
   transition-timing-function: cubic-bezier(.19, 1, .22, 1);
   transform: scaleX(1);
 }

 .shadow {
   box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.10), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
   transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
 }

 .navbar.scrolled, #navbar-products.scrolled {
   transition: 1000ms ease;
   background-color: rgb(19, 35, 34, 0.95);
   box-shadow: 0 6px 6px -4px rgba(43, 46, 49, 0.9);
 }

 #sign-btn {
   font-family: 'Poppins', sans-serif;
   color: #fff!important;
   text-transform: uppercase;
 }

 #sign-btn:hover {
   color: black!important;
 }

 @media (min-width: 768px) and (max-width: 1024px) {
   .mobile {
     transition: 1000ms ease;
     background-color: rgb(19, 35, 34, 0.95);
   }
   body {
     overflow-x: hidden;
   }
 }

 @media (min-width: 320px) and (max-width: 768px) {
   .mobile {
     transition: 1000ms ease;
     background-color: rgb(19, 35, 34, 0.95);
   }
   body {
     overflow-x: hidden;
   }
 }

 /*BUTTON*/

 #button {
   display: inline-block;
   background-color: black;
   width: 50px;
   height: 50px;
   text-align: center;
   border-radius: 4px;
   position: fixed;
   bottom: 30px;
   right: 30px;
   transition: background-color .3s, opacity .5s, visibility .5s;
   opacity: 0;
   visibility: hidden;
   z-index: 1000;
 }

 #button::after {
   content: "\f077";
   font-family: FontAwesome;
   font-weight: normal;
   font-style: normal;
   font-size: 2em;
   line-height: 50px;
   color: #fff;
 }

 #button:hover {
   cursor: pointer;
   background-color: #333;
 }

 #button:active {
   background-color: #555;
 }

 #button.show {
   opacity: 1;
   visibility: visible;
 }

 h1{
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
 }

 h2 {
   font-family: 'Poppins', sans-serif;
   text-transform: uppercase;
 }

 #more {
   display: none;
 }

 #autors {
   color: #fff;
 }

 #footer {
   background-color: rgb(19, 35, 34);
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   height: 120px;
 }

 div p {
   font-size: 18px;
 }

 div ul {
   font-size: 18px;
 }

 input[type=text]:not(.birthday), input[type=email], input[type=password] {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 5px;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
 }

 .birthday {
   width: 32.7%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 5px;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
 }

 input[type=submit] {
   background-color: #4CAF50;
   border-radius: 5px;
   color: white;
   padding: 7px 16px;
   border: none;
   cursor: pointer;
   margin-bottom: 5px;
   float: right;
 }

 input[type=submit]:hover {
   background-color: #45a049;
 }

 #save {
   margin-bottom: 3px;
 }

 .images {
   width: 100%;
   height: auto;
   object-fit: contain;
 }

 .post-title {
   text-transform: uppercase;
 }

 .post-link h5 {
   color: black;
 }

 .btn-dark:focus {
   box-shadow: none !important;
 }
 